html {
  font-size: 10px;
  background-color: #000;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#sax_img {
  max-height: 700px;
  margin: 20px auto;
  display: block;
  clear: both;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 30vh;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

.note_one {
  font-size: 48px;
  color: yellow;
  position: absolute;
  top: 500px;
  right: 285px;
  rotate: 20deg;
  opacity: 0;
}

.note_two {
  font-size: 36px;
  color: green;
  position: absolute;
  top: 600px;
  right: 285px;
  rotate: 20deg;
  opacity: 0;
}

.note_three {
  font-size: 24px;
  color: red;
  position: absolute;
  top: 700px;
  right: 285px;
  rotate: 20deg;
  opacity: 0;
 
}

.note_four {
  font-size: 48px;
  color: blue;
  position: absolute;
  top: 850px;
  right: 380px;
  rotate: 20deg;
  opacity: 0;
  
}

.note_five {
  font-size: 36px;
  color: grey;
  position: absolute;
  top: 900px;
  right: 380px;
  rotate: 20deg;
  opacity: 0;
  
}
.note_six {
  font-size: 24px;
  color: pink;
  position: absolute;
  top: 950px;
  right: 380px;
  rotate: 20deg;
  opacity: 0;
  
}
.note_seven {
  font-size: 48px;
  color: purple;
  position: absolute;
  top: 975px;
  right: 380px;
  rotate: 20deg;
  opacity: 0;
  
}
.note_eight {
  font-size: 36px;
  color: orange;
  position: absolute;
  top: 1000px;
  right: 380px;
  rotate: 20deg;
  opacity: 0;
  
}

.note_active {
  rotate: 20deg;
  animation-iteration-count: 2;
  animation: notePlay 2s;
 
}

@keyframes notePlay {
  from {bottom: 0px;}
  to {top: 200px;}
  from {opacity: 1;}
  to {opacity: 0;}
  from{rotate: 20deg;}
  to{rotate: 25deg;}
}